schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Root Element -->
  <xs:element name="epiData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="inscription" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Elements within each 'inscription' -->
              <xs:element name="Publisher" type="xs:string"/>
              <xs:element name="Origin" type="xs:string"/>
              <xs:element name="Origin-Geonames-Link" type="xs:anyURI"/>
              <xs:element name="Origin-Pleiades-Link" type="xs:anyURI"/>
              <xs:element name="Institution">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="ID" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Category">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="term" type="xs:string" maxOccurs="unbounded"/>
                    <xs:simpleType>
                      <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="Material" type="xs:string"/>
              <xs:element name="Language" type="xs:string"/>
              <xs:element name="Text">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="lb" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="n" type="xs:string" use="optional"/>
                        <xs:attribute name="break" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="title" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="type" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="expan" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="abbr" type="xs:string" minOccurs="0"/>
                          <xs:element name="ex" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="persName" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="type" type="xs:string" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="place" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="type" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="supplied" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="reason" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="unclear" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dating" type="xs:string"/>
              <xs:element name="Images" type="xs:anyURI" minOccurs="0"/>
              <xs:element name="Encoder" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="n" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
