schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="term" type="xs:string"/>
  <xs:element name="abbr">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="supplied" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ex">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="unclear" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="n" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lb">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="abbr" minOccurs="0"/>
        <xs:element ref="ex" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="n" use="optional"/>
      <xs:attribute type="xs:string" name="reason" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="expan">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="abbr" minOccurs="0"/>
        <xs:element ref="ex" minOccurs="0"/>
        <xs:element ref="expan" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="n" use="optional"/>
      <xs:attribute type="xs:string" name="reason" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="expan" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:byte" name="n" use="optional"/>
      <xs:attribute type="xs:string" name="break" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="persName">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="lb" minOccurs="0"/>
        <xs:element ref="supplied" minOccurs="0"/>
        <xs:element ref="expan" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="reason" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="place">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:byte" name="n" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publisher" type="xs:string"/>
  <xs:element name="Origin" type="xs:string"/>
  <xs:element name="Origin-Geonames-Link" type="xs:string"/>
  <xs:element name="Origin-Pleiades-Link" type="xs:string"/>
  <xs:element name="Institution">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="ID" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Category">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="term" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Material" type="xs:string"/>
  <xs:element name="Language" type="xs:string"/>
  <xs:element name="Text">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="lb"/>
        <xs:element ref="title"/>
        <xs:element ref="expan"/>
        <xs:element ref="persName"/>
        <xs:element ref="place"/>
        <xs:element ref="abbr"/>
        <xs:element ref="ex"/>
        <xs:element ref="supplied"/>
        <xs:element ref="gap"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dating" type="xs:string"/>
  <xs:element name="Images" type="xs:string"/>
  <xs:element name="Encoder" type="xs:string"/>
  <xs:element name="supplied">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="abbr" minOccurs="0"/>
        <xs:element ref="ex" minOccurs="0"/>
        <xs:element ref="title" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="reason" use="optional"/>
      <xs:attribute type="xs:byte" name="n" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unclear" type="xs:string"/>
  <xs:element name="gap">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="reason"/>
          <xs:attribute type="xs:string" name="extent"/>
          <xs:attribute type="xs:string" name="unit"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="inscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Publisher"/>
        <xs:element ref="Origin"/>
        <xs:element ref="Origin-Geonames-Link"/>
        <xs:element ref="Origin-Pleiades-Link"/>
        <xs:element ref="Institution"/>
        <xs:element ref="Category"/>
        <xs:element ref="Material"/>
        <xs:element ref="Language"/>
        <xs:element ref="Text"/>
        <xs:element ref="Dating"/>
        <xs:element ref="Images"/>
        <xs:element ref="Encoder"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="n" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="epiData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="inscription" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="epiData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
